@page
@using GerEventos.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model GerEventos.Pages.Eventos.CreateModalModel
@inject IStringLocalizer<GerEventosResource> L
@{
    Layout = null;
}

<script src="~/libs/jquery-validation/mask/jquery.mask.min.js"></script>
<script src="~/functions-util/decimal-mask.js"></script>

<form asp-page-handler="Create" id="createEventForm">
    @Html.AntiForgeryToken()
    <abp-modal centered="true" scrollable="true" size="Large">

        <abp-modal-header title="@L["Novo evento"].Value"></abp-modal-header>
        <abp-modal-body>

            <abp-input asp-for="@Model.Evento.Nome" />

            <abp-row>
                <abp-column size-md="_6">
                    <abp-select asp-for="Evento.TipoEventoId" asp-items="@Model.TipoEventos" required />
                </abp-column>
                <abp-column size-md="_6">
                    <abp-select asp-for="Evento.BalcaoVendasId" asp-items="@Model.BalcaoVendas" required />
                </abp-column>
            </abp-row>

            <abp-select asp-for="Evento.ProdutorId" asp-items="@Model.Produtores" required />


            <abp-row>
                <abp-column size-md="_6">
                    <abp-date-range-picker 
                                           name="Evento.DataRange"
                                           clear-button="false"
                                           today-button-classes="btn-primary"
                                           asp-for-start="Evento.DataInicio"
                                           asp-for-end="Evento.DataFim"
                                           placeholder="Selecione o intervalo de datas"
                                           min-date="null"
                                           max-date="null" />
                </abp-column> 

                <abp-column size-md="_6">
                    <abp-input asp-for="@Model.Evento.Valor"  />
                </abp-column>
            </abp-row>


        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>

    </abp-modal>
</form>