
@page
@using Microsoft.AspNetCore.Mvc.Localization
@using GerEventos.Localization
@using Volo.Abp.Users
@inject IHtmlLocalizer<GerEventosResource> L
@model GerEventos.Pages.IndexModel
@inject ICurrentUser CurrentUser

@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}

@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
    <script src="~/libs/chart-js/chart.js" /></script>
}

<div class="container mt-4">

    @if (!CurrentUser.IsAuthenticated)
    {
        <div class="mb-3">
            <a abp-button="Primary" href="~/Account/Login">@L["Login"]</a>
        </div>
    }

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-primary text-light">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-calendar-alt me-2"></i>@L["Quantidade de Eventos"]
                    </h5>
                </div>
                <div class="card-body text-center">
                    <h3>@Model.EventCount</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-warning text-dark">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-store me-2"></i>@L["Quantidade de Balcões"]
                    </h5>
                </div>
                <div class="card-body text-center">
                    <h3>@Model.BalcaoCount</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-success text-light">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-users me-2"></i>@L["Quantidade de Produtores"]
                    </h5>
                </div>
                <div class="card-body text-center">
                    <h3>@Model.ProdutorCount</h3>
                </div>
            </div>
        </div>
    </div>
</div>















