
@page
@using Microsoft.AspNetCore.Mvc.Localization
@using GerEventos.Localization
@using Volo.Abp.Users
@inject IHtmlLocalizer<GerEventosResource> L
@model GerEventos.Pages.IndexModel
@inject ICurrentUser CurrentUser

@section styles {
    <abp-style src="/Pages/Index.cshtml.css" />
}

@section scripts {
    <abp-script src="/Pages/Index.cshtml.js" />
    <script src="~/libs/chart-js/chart.js" /></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
      
            var eventosPorMesData = @Html.Raw(Json.Serialize(Model.EventosPorMes));
            var eventosPorTipoData = @Html.Raw(Json.Serialize(Model.EventosPorTipo));

            var ctx1 = document.getElementById('eventosPorMesChart').getContext('2d');
            new Chart(ctx1, {
                type: 'bar',
                data: {
                    labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                    datasets: [{
                        label: 'Eventos por Mês',
                        data: eventosPorMesData,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });

            // Gráfico de Eventos por Tipo
            var ctx2 = document.getElementById('eventosPorTipoChart').getContext('2d');
            new Chart(ctx2, {
                type: 'pie',
                data: {
                    labels: Object.keys(eventosPorTipoData),
                    datasets: [{
                        label: 'Eventos por Tipo',
                        data: Object.values(eventosPorTipoData),
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                }
            });
        });
    </script>
}

<div class="container mt-4">

    @if (!CurrentUser.IsAuthenticated)
    {
        <div class="mb-3">
            <a abp-button="Primary" href="~/Account/Login">@L["Login"]</a>
        </div>
    }

    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card bg-primary text-light">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-calendar-alt me-2"></i>@L["Quantidade de Eventos"]
                    </h5>
                </div>
                <div class="card-body text-center">
                    <h3>@Model.EventCount</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-warning text-dark">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-store me-2"></i>@L["Quantidade de Balcões"]
                    </h5>
                </div>
                <div class="card-body text-center">
                    <h3>@Model.BalcaoCount</h3>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card bg-success text-light">
                <div class="card-header">
                    <h5 class="card-title">
                        <i class="fas fa-users me-2"></i>@L["Quantidade de Produtores"]
                    </h5>
                </div>
                <div class="card-body text-center">
                    <h3>@Model.ProdutorCount</h3>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card fixed-size-card">
                    <div class="card-header bg-primary text-light">
                        <h5 class="card-title">
                            <i class="fas fa-calendar-alt me-2"></i>@L["Eventos por Mês"]
                        </h5>
                    </div>
                    <div class="card-body" style="height: 300px;">
                        <canvas id="eventosPorMesChart" class="chart-canvas" style="max-height: 300px;"></canvas>
                    </div>
                </div>
            </div>

            <!-- Gráfico de Eventos por Tipo -->
            <div class="col-md-6 mb-4">
                <div class="card fixed-size-card">
                    <div class="card-header bg-success text-light">
                        <h5 class="card-title">
                            <i class="fas fa-tags me-2"></i>@L["Eventos por Tipo"]
                        </h5>
                    </div>
                    <div class="card-body" style="height: 300px; align-items:center;">
                        <canvas id="eventosPorTipoChart" class="chart-canvas" style="max-height: 300px;"></canvas>
                    </div>
                </div>
            </div>
        </div>



</div>















